.pagecontent{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.paragraph{
  padding: 50px;
  font-size: 18px;
}

.fadein{
  animation: fadin 1.5s forwards;
}

@keyframes fadin {
  from { opacity: 0;} to { opacity: 1;}
}